<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Cats</title>
		<meta charset="UTF-8">
		<!-- css -->
		<link rel="stylesheet" type="text/css" href="/stylesheets/style2.css">
		<!-- Jquery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
		integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" 
		integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" 
		integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<h1 class='col-xs-12'>Cat Images</h1>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<image src='/images/cat1' alt='Responsive image' class="img-rounded col-xs-4" height='260px'></image>
					<image src='/images/cat2' alt='Responsive image' class="img-rounded col-xs-4" height='260px'></image>
					<image src='/images/cat3' alt='Responsive image' class="img-rounded col-xs-4" height='260px'></image>
					<image src='/images/cat4' alt='Responsive image' class="img-rounded col-xs-4" height='260px'></image>
					<image src='/images/cat5' alt='Responsive image' class="img-rounded col-xs-4" height='260px'></image>
					<image src='/images/cat6' alt='Responsive image' class="img-rounded col-xs-4" height='260px'></image>
					<div class="col-xs-12">
						<a href="/"><button type='button' class='btn col-xs-2'>Go Back</button></a>
					</div>
				</div>
			</div>
		</div> <!-- End Container -->
	</body> 
</html>